@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet');
.icons {
    text-align: center;
}
<<<<<<< HEAD

h3 {
    font-size: 40px;
    font-weight: 700px;
}

.icon-side {
    background-color: white;
}


/*----
.image-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 25px;
    float: left;
}

.image-2 {
    justify-content: center;
    align-self: flex-start;
}

.image-3 {
=======

.icons h3 {
    font-size: 60px;
    padding-top: 25px;
    margin-bottom: 50px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 25px;
    float: left;
}

.image-2 {
>>>>>>> 86dda587d7af7bb8987bb9b2bbfb4ceff7caf5e0
    justify-content: center;
    align-self: flex-start;
}

<<<<<<< HEAD
.image4 {
=======
.image-3 {
>>>>>>> 86dda587d7af7bb8987bb9b2bbfb4ceff7caf5e0
    justify-content: center;
    align-self: flex-start;
}

<<<<<<< HEAD
.image5 {
    justify-content: center;
    align-self: flex-end;
}

------*/
=======
.image4 {
    justify-content: center;
    align-self: flex-start;
}

.image5 {
    justify-content: center;
    align-self: flex-end;
}
>>>>>>> 86dda587d7af7bb8987bb9b2bbfb4ceff7caf5e0
