/*---------------------nav section----------------------*/

.allfont {
    padding: 6px 14px;
    display: block;
    color: #515154;
    text-decoration: none;
    font-size: 14px;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: left;
    box-sizing: content-box;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
}

.allhead {
    padding: 6px14px;
    display: block;
    color: #515154;
    text-decoration: none;
    font-size: 1em;
    font-family: inherit;
    font-weight: 2px;
    line-height: inherit;
    text-align: left;
    box-sizing: content-box;
    pointer-events: auto;
    letter-spacing: normal;
}

.lowerpara {
    font-size: small;
    text-align: left;
    margin-left: 110px;
    display: block;
    color: #86868b;
}


/*---------------------firstslide section----------------------*/

.carousel-inner {
    text-align: center;
}

.intro {
    margin-top: 70px;
    padding: 20px 100px;
}

.carousel-inner {
    padding: 50px 100px;
}

.carousel-intro {
    font-weight: 600;
    font-size: 6rem;
}


/* carousel-card */

.card {
    padding: 30px 30px;
}

.card-title {
    font-weight: 500;
    font-size: 2.5rem;
}

.card-text {
    font-weight: 400;
    font-size: 1.5rem;
}


/*---------------------cards section----------------------*/

.container-fluid1 {
    background-color: #f3f3f3;
}

#bx-1 {
    border-top-left-radius: 23px;
}

#bx-2 {
    border-top-right-radius: 23px;
}

#bx-3 {
    border-bottom-left-radius: 23px;
}

#bx-4 {
    border-bottom-right-radius: 23px;
}

#bx-5 {
    border-radius: 23px !important;
}

#bx-6 {
    border-radius: 23px !important;
}


/*---------------------main section----------------------*/

#main-section {
    background-color: #f3f3f3;
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
    text-align: center;
}

.main-heading {
    padding: 50px 200px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1;
}

.heading-text {
    padding: 10px 250px;
    font-weight: 500px;
    font-size: 1.5rem;
}

.heading-video {
    display: inline-block;
    width: 100%;
}


/*---------------------scetion-six section----------------------*/

.icons {
    text-align: center;
}

.icons h3 {
    font-size: 30px;
    padding-top: 35px;
    margin-bottom: 10px;
    font-weight: 600;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 25px;
    float: left;
}

.image-2 {
    justify-content: center;
    align-self: flex-start;
}

.image-3 {
    justify-content: center;
    align-self: flex-start;
}

.image4 {
    justify-content: center;
    align-self: flex-start;
}

.image5 {
    justify-content: center;
    align-self: flex-end;
}


/*---------------------footer section----------------------*/


/*refer to footer.css for footer styles.|*/